<%= stylesheet_link_tag "home_index.css", media: "all" %>
<div class= top>
  <div class= top_title>
    <div class= top_title_container>
      <h3 class= h3_title>お気に入りの珈琲が見つかる検索サイト</h3>
      <h1 class= h1_title>こそこそ珈琲研究室</h1>
    </div>
  </div>
</div>
